.Gallery {
  background-color: color('blue');
  .swiper-outer {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  &__text {
    width: 400px;
    z-index: 1;
  }
  &__image {
    z-index: 0;
    width: auto;
    max-height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
