.Gallery {
  height: 100vh;
  color: white;
  transition: background-color 0.6s ease;
  &.blue {
    background-color: lighten(color('blue'), 25%);
  }
  &.red {
    background-color: lighten(color('green'), 25%);
  }
  &.green {
    background-color: #0FA;
  }
  &.orange {
    background-color: #F92;
  }
  &.purple {
    background-color: #72F;
  }
  .swiper-outer {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    width: 100%;
    height: 100%;
    overflow: hidden;
    &:after {
      transition: opacity 0.1s ease;
      transition-delay: 0s;
      opacity: 0;
    }
    &.swiper-slide-active {
      &:after {
        transition: opacity 0.6s ease;
        transition-delay: 0.6s;
        opacity: 1;
      }
    }
    &.blue {
      &:after {
        content: '';
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(-47deg, lighten(color('blue'), 5%), lighten(color('blue'), 50%));
      }
    }
    &.red {
      &:after {
        content: '';
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(-47deg, lighten(color('green'), 5%), lighten(color('green'), 50%));
      }
    }
  }
  &__text {
    width: 100vw;
    z-index: 1;
    @media (query(lg-up)) {
      width: 33vw;
    }
  }
  &__title {
    display: inline;
    background-color: rgba(0, 0, 0, 0.75);
    line-height: 1.5;
    padding: 0 0.2vw;
  }
  &__description {
    p {
      display: inline;
      background-color: rgba(0, 0, 0, 0.75);
      line-height: 1.5;
      padding: 0 0.2vw;
    }
  }
  &__cta {
    a {
      padding: 0 0.2vw;
      color: white;
      background-color: rgba(0, 0, 0, 0.75);
      border: none;
      text-decoration: underline;
    }
  }
  &__image {
    z-index: 0;
    width: auto;
    max-height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &__arrow {
    display: block;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    z-index: 100;
    font-size: 3rem;
    line-height: 1;
    padding: 0 1vw 0.5rem 1rem;
    opacity: 0.4;
    @include standard-transition(opacity);
    &:hover {
      opacity: 1;
    }
    &-prev {
      left: 0;
    }
    &-next {
      right: 0;
    }
  }
}
