.Header {
  background-color: transparent;
  z-index: zIndex('high');
  top: 0;
  left: 0;
  width: 100%;
  &__logo {
    width: 18.75rem;
  }
  &__nav {
    &-item {
      font-weight: 700;
      text-transform: lowercase;
      border-bottom: none;
    }
    &-link {
      border-bottom: none;
      color: color('black');
      @include standard-transition(color);
      &:hover {
        color: color('red');
      }
    }
  }
}
