.Header {
  background-color: transparent;
  top: 0;
  left: 0;
  width: 100%;
  &__logo {
    z-index: zIndex('high');
    width: 7.5rem;
    margin-top: 1rem;
    @media (query(lg-up)) {
      width: 15rem;
    }
  }
  &__hamburger {
    z-index: zIndex('high');
    top: 2.3rem;
    right: 1rem;
    @media (query(lg-up)) {
      top: 4.6rem;
    }
    &-button {
      width: 3rem;
      height: 1.8rem;
      position: relative;
      transition: all 0.3s ease;
      &.active {
        transform: translateX(1rem);
        .middle {
          opacity: 0;
        }
        .top {
          transform: rotate(45deg) translateY(1.1rem);
        }
        .bottom {
          transform: rotate(-45deg) translateY(-1.1rem);
        }
      }
      .top,
      .middle,
      .bottom {
        transition: all 0.3s ease;
        width: 100%;
        height: 0;
        border-top: 0.125rem solid color('black');
        position: absolute;
        opacity: 1;
      }
      .top {
        top: 1px;
        left: 0;
      }
      .middle {
        top: 50.05%;
        left: 0;
        opacity: 1;
      }
      .bottom {
        bottom: 1px;
        left: 0;
      }
    }
  }
}
