.Nav {
  background-color: color('white');
  z-index: 101;
  top: 0;
  right: 0;
  pointer-events: none;
  opacity: 1;
  transform: translateX(100%);
  @include standard-transition(all, 0.6s);
  &--open {
    opacity: 1;
    transform: translateX(0);
    pointer-events: all;
    .Nav__nav-item {
      transform: translateX(0);
      opacity: 1;
    }
  }
  &__nav-item {
    transform: translateX(100%);
    opacity: 0;
    @include standard-transition(all, 0.6s);
    @for $i from 1 through 7 {
      &:nth-child(#{$i}) {
        transition-delay: $i * 0.05s;
      }
    }
  }
  &__nav-link {
    text-decoration: none;
    border-bottom: none;
    font-size: 3rem;
    line-height: 1;
    text-transform: uppercase;
    font-weight: bold;
    color: color('red');
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: color('red');
    @media (query(lg-up)) {
      font-size: 12vh;
      line-height: 1;
      -webkit-text-stroke-width: 0.325vh;
    }
    &:hover {
      -webkit-text-fill-color: color('red');
    }
  }
}
