.Notice {
  background-image: none;
  background-size: cover;
  background-position: center center;
  .Container {
    z-index: 1;
  }
  &__video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
  }
  &__description {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0.6rem;
    p {
      padding: 0 0.2vw;
      display: inline;
    }
  }
  &__cta {
    a {
      display: inline-block;
      padding: 0 0.2vw;
      color: color('red');
      background-color: rgba(255, 255, 255, 0.9);
      border: none;
      text-decoration: underline;
      font-weight: 900;
      font-size: 1.125rem;
      padding: 0.9rem 0.6rem;
    }
  }
}
