.Notice {
  background-image: url('/images/notice.jpg');
  background-size: cover;
  background-position: center center;
  &__video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
  }
  &__description {
    p {
      padding: 0 0.2vw;
      display: inline;
      background-color: white;
    }
  }
  &__cta {
    a {
      padding: 0 0.2vw;
      display: inline-block;
      border: none;
      text-decoration: underline;
      background-color: white;
    }
  }
}
