//
// Container Elements
//
.Container {
	width: calc(100vw - 2rem);
	max-width: 100rem;
	margin-left: auto;
	margin-right: auto;
  &__medium {
    max-width: 48rem;
  }
  &__thin {
    max-width: 38rem;
  }
  &__fluid {
    max-width: 100%;
  }
}
