//
// Root styles
//
body,
.body-copy {
  font-family: $body-font;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 300;
  font-style: normal;
  @media (query(lg-up)) {
    font-size: 1.25vw;
    line-height: 1.75vw;
  }
  em, i {
    font-style: italic;
  }
  b {
    font-weight: bold;
  }
}
.body-copy {
  font-family: $serif-font;
  @media (query(lg-up)) {
    font-size: 1.25vw;
    line-height: 2vw;
  }
  p + p {
    margin-top: 1rem;
  }
  blockquote {
    font-weight: 700;
    margin: 2rem 0;
    padding: 1rem 0;
    border-top: 1px solid color('black');
    border-bottom: 1px solid color('black');
    width: 80%;
  }
}
.body-header {
  font-family: $header-font;
  font-size: 2.8125rem;
  line-height: 3.125rem;
  font-weight: 900;
  font-style: normal;
  @media (query(lg-up)) {
    font-size: 2.8125vw;
    line-height: 3.125vw;
  }
}
.special-header {
  font-size: 3rem;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 900;
  color: color('red');
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: color('red');
  @media (query(lg-up)) {
    font-size: calc(3vh + 3vw);
    line-height: 1;
    -webkit-text-stroke-width: calc(0.0625vh + 0.0625vw);
  }
}
h1, h2, h3, h4, h5 {
  font-family: $header-font;
  font-weight: bold;
  font-style: normal;
}
a {
  color: color('red');
  text-decoration: none;
  border-bottom: 0.0125em solid color('red');
}
