.Home {
  .Gallery {
    height: 100vh;
    .swiper-slide {
      padding-top: $header-height;
    }
    &__image {
      transform: translate(-50%, calc(-50% + 5rem));
    }
  }
  .swiper-container-vertical {
    height: 100vh;
  }
}
